<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>ShowInfo</title>
</head>
<body>
    <div class="container">
            <h3 style="text-align: center; color: brown; font-weight: bold; font-style: italic;">Messages Received</h3>
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                 
                  <th scope="col">FullName</th>
                  <th scope="col">Email</th>
                  <th scope="col">Message</th>
                </tr>
              </thead>
              <tbody>
                {% if showinfo %}
                          {% for info in showinfo %}
                             <tr>
                                  <td>{{ info.fullname }}</td>
                                  <td>{{ info.email }}</td>
                                  <td>{{ info.message }}</td>
                             </tr>
                          {% endfor %}
                      {% else %}
                          <h3>No data found</h3>
                      {% endif %}
                
              </tbody>
            </table>
    </div>
</body>
</html>

